<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ImagePath" value="/images/user/head/"/>
    <add key="AllowIP" value="139.217.12.2,42.159.27.143"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="4960000" appRequestQueueLimit="60" executionTimeout="60"/>
  </system.web>

</configuration>
